
.icon-pinterest-fill:before { content: '\e800'; } /* '' */
.icon-linkedin-fill:before { content: '\e801'; } /* '' */
.icon-facebook-fill:before { content: '\e802'; } /* '' */
.icon-google-fill:before { content: '\e803'; } /* '' */
.icon-github-fill:before { content: '\e804'; } /* '' */
.icon-instagram-fill:before { content: '\e805'; } /* '' */
.icon-twitter-fill:before { content: '\e806'; } /* '' */
