main {
    width: 100vw;
    height: 100vh;
    background: #123063;
    background: linear-gradient(0deg, rgba(18, 48, 99, 1) 31%, rgba(15, 23, 31, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;

    >.box {
        width: 10%;
        height: 35%;

        position: relative;
        cursor: pointer;


        >div {
            width: 100%;
            height: 100%;
            position: absolute;
            transform-origin: 100% 100%;
            transition: rotateZ, 0.6s ease;
            border-radius: 10px;
   

            &:hover~div {
                transform: rotateZ(70deg);
            }


            >div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;
                height: 100%;



                >i {
                    font-size: 75px;
                    color: rgba(90, 18, 18, 0.822);
                }

                >h2 {
                    font-size: 25px;
                    color: whitesmoke;
                }
            }

            &:nth-of-type(1) {
                background-color: rebeccapurple;
                transform: rotateZ(-45deg);


            }

            &:nth-of-type(2) {
                background-color: red;
                transform: rotateZ(-35deg);
            }

            &:nth-of-type(3) {
                background-color: blue;
                transform: rotateZ(-25deg);
            }

            &:nth-of-type(4) {
                background-color: green;
                transform: rotateZ(-15deg);
            }

            &:nth-of-type(5) {
                background-color: wheat;
                transform: rotateZ(-5deg);
            }

            &:nth-of-type(6) {
                background-color: tomato;
                transform: rotateZ(5deg);
            }
        }
    }
}